*{
   box-sizing: border-box; 
}

button {
    cursor:pointer;
}

.everything-wrapper{
    border: 2px solid green;
    display: flex;
    justify-content:flex-end;
    height: 100%;
}

.notes-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-subheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#note-icon, #add-note-icon {
    font-size: 25px;
}

#date-sort-icon, #alpha-sort-icon, #add-note-icon {
    padding: 4px;
    cursor: pointer;
}

.note-selection{
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}

.all-notes-area{
    border: 2px solid red;
    width: 20%;
    height: 100%;

}


.new-note-area{
    border: 2px solid blue;
    width: 60%

}

#new-note-form{
    display:flex;
    flex-direction:column;
}

#title-textarea, #note-content-textarea{
    /* border:none; */
    resize:none;
    height: 100%;
    width: 100%;

    /* need to think about scrolling and height  */

} 


#save-note-btn {
    width: 5rem;
}
