
:root {
    --bg-clr: #1a1a1a;
    --font-clr: #a6a6a6;
    --evernote-green: #008f26
}

*{
   box-sizing: border-box;

}

button {
    cursor:pointer;
}

.everything-wrapper{
    border: 2px solid green;
    display: flex;
    justify-content:flex-end;
    height: 100%;
    color: var(--font-clr);

}

.notes-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-header > h1{
    color:white;
}

.notes-subheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--font-clr)
}

#note-icon, #add-note-icon {
    font-size: 25px;
    color:white;

}

#date-sort-icon, #alpha-sort-icon, #add-note-icon {
    padding: 4px;
    cursor: pointer;
    color: white;
}

.note-selection{
    border-bottom: 1px solid var(--font-clr);
    /* height: 100%; */
    width: 100%;
    cursor: pointer;
    overflow:hidden;
    padding: .3rem 0;

}

.all-notes-area{
    border-left: 2px solid red;
    border-right: 2px solid red;
    width: 50%;
    height: 100%;
    padding: 0 1rem;
    background-color: var(--bg-clr);
    display:flex;
    flex-direction: column;
    overflow: scroll;

}


.new-note-area{
    border: 2px solid blue;
    width: 100%;
}

#new-note-form{
    display:flex;
    flex-direction:column;
    height:100%;
}

#title-textarea, #note-content-textarea{
    /* border:none; */
    resize:none;
    height: 100%;
    width: 100%;
    background-color: rgb(40, 37, 37);
    color: var(--font-clr)

    /* need to think about scrolling and height  */
}



#title-textarea {
    font-size: 2rem;
    overflow: hidden;
    height: 3rem;
}

#note-content-textarea{
    font-size: 18px;
}
#save-note-btn {
    width: 5rem;
    background-color: var(--mustard);
    padding: 0.2rem;
    color:rgb(40, 37, 37);
    border-radius: 8pt;
    margin: .4rem;
}

#new-note-form {
    background-color: rgb(40, 37, 37);
}

#delete-note-modal-container > button {
    border: none;
    background-color: transparent;
    margin-bottom: 0.2rem;
    color: var(--font-clr);
}


#delete-note-modal-container{
    display:flex;
    justify-content: flex-end;
    /* border:red solid 1px; */
}


#whole-note-data-wrapper{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* border:red solid 1px; */
}

.note-tally {
    color:white;
}

.note-selection #note-titles {
    color:white;
}


#tag-names {
    color:black;
    background-color: var(--mustard);
    font-size: .7em;
}

.tag-button > *{
    background-color: var(--mustard);
}

.fa-circle-xmark{
    background-color: var(--mustard);
    color: rgb(54, 56, 56);
    margin-left: .3rem;
}

.tag-button{
    background-color: var(--mustard);
    display: inline-flex;
    border-radius: 5px;
    padding: .2rem;
    margin: 0rem .2rem 0.6rem 0;
    /* width: 100%; */
}

#delete-note-modal > h1, #delete-note-modal > p, #delete-note-modal {
    background-color: white;
    text-align: center;
    padding: 1rem;
}

#delete-note-modal button {
    margin: 0 1rem;
    padding: 0.5rem;
}
