
.header-wrapper{
    display: flex;
    position: absolute;
    /* justify-content: flex-end; */
}

#landing-background{
    /* background-image: url("https://cdn.discordapp.com/attachments/1102007410014556160/1116370540454756493/EveryNote_Set_up.jpg"); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    height: 300vh;
    /* background-position: center; */
    position: absolute;
    z-index: -1000;
    width: 100%;
    padding: 1rem;
    /* height: 100vh */
    /* border: red solid 2px */
}
