/* TODO Add site wide styles */

/* button{
    border-radius: 10pt;
    background-color: #008f26;
    padding: .5rem;
    font-size: 16pt;
    margin-top: 1rem
} */

:root {
    --bg-clr: #131d2d;
    --font-clr: #d5d8e1;
    --evernote-green: #008f26;
    --txt-area-gray: rgb(40, 37, 37);
    --mustard: #5583CC;
    --modal: #90B7F7;
    --button: #5583CC;
    --shadows: #29446e;
    --border: rgb(118, 118, 118);

}
/* retry
 */
*{
    margin:0;
    /* background-color: var(--bg-clr); */
    font-family: arial;
    color: var(--font-clr)
}
