.drop-down-list {
  background-color: #1a1a1a;
  border: none;
  color: #a6a6a6;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin: 0%;
  padding: 0%;
  height: 30px;
}

.create-modal-div-wrapper {
  border: solid 1px var(--border);
  background-color: var(--bg-clr);
  height: 100%;
  width: 100%;
  color: var(--button);
}

.create-modal-form {
  /* border: solid 1px blue; */
  display: grid;
  margin: 1%;
  padding: 1%;
}

.create-modal-label {
  /* border: solid 1px rgb(94, 94, 142); */
  color: var(--button);
}
.create-des {
  /* border: solid 1px rgb(94, 94, 142); */
  color: var(--font-clr);
}

.create-div-label-input {
  display: flex;
  justify-content: center;
  /* border: solid 1px red */
}
.create-modal-form-input {
  /* border: solid 1px rgb(234, 255, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
  background-color: #262626;
  border: solid 1px #a6a6a666;
  border-radius: 5px;
  color: var(--button);
}
.create-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  column-gap: 10px;
  /* border: solid 1px rgb(0, 255, 30); */
}
.create-button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 5rem;
  font-weight: bold;
}

.create-modal-button-submit {
  background-color: var(--bg-clr);
  color: var(--button);
  /* border-radius: 5px; */
  border: solid 0.5px var(--border);
}
/* .create-modal-button-submit:disabled {
  background-color:red;
  color: var(--button);
  border: solid 0.5px var(--border);
} */
/* .create-modal-button-submit {
} */
.create-modal-button-cancel {
  background-color: var(--bg-clr);
  border: solid 0.5px var(--border);
  color: var(--button);
  /* border-radius: 5px; */
}


.fa-book {
  color: var(--button);
}



/* mobile L*/
@media screen and (max-width: 425px) {
  .create-modal-div-wrapper {
    border: solid 1px var(--border);
    background-color: var(--bg-clr);
    height: 15rem;
    width: 22rem;
  }
  .errors {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin: 0%;
    padding: 0%;
    height: 20px;
    font-size: 13px;
  }
  .create-modal-form {
    /* border: solid 1px blue; */
    display: grid;
    margin: 1%;
    padding: 1%;
    row-gap: 5px;
}
}
/* mobile M*/
@media screen and (max-width: 375px) {
  .create-modal-div-wrapper {
    border: solid 1px var(--border);
    background-color: var(--bg-clr);
    height: 18rem;
    width: 19rem;
  }
  .errors {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin: 0%;
    padding: 0%;
    height: 45px;
    font-size: 15px;
  }
  .create-modal-form {
    /* border: solid 1px blue; */
    display: grid;
    margin: 1%;
    padding: 1%;
    row-gap: 10px;
}
}
/* mobile S*/
@media screen and (max-width: 320px) {
  .create-modal-div-wrapper {
    border: solid 1px var(--border);
    background-color: var(--bg-clr);
    height: 20rem;
    width: 15rem;
  }
  .errors {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin: 0%;
    padding: 0%;
    height: 45px;
    font-size: 13px;
  }
}
