.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
  margin-top: 3rem;
  margin-left: 1rem;
  z-index: 2
}

#drop-down{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* background-color: #c49f2f; */
}

/* here is the navlink font */
li > *{
  color: var(--);
  font-size: 16pt;

  /* margin: 5rem; */
}

.hidden {
  display: none;
}

button {
  border-radius: 20pt;
  background-color: var(--button);
  padding: .25rem;
  font-size: 12pt;
  color: var(--bg-clr)
  /* margin-top: 1rem */
}

.nav-links{
  padding-left: 1rem;
}

#wrapper-for-navbar-ternary{
  height: 80%;
}

#whole-nav-bar-wrapper{
   height: 100%;
   /* display: flex; */
   /* align-items: end; */
   /* align-items: space-between */
}

#whole-nav-bar-wrapper>div {
  /* height: 75%; */
  /* margin-bottom:1rem; */
  display: flex;
  align-items: end;
  /* align-items: space-between */
}

#footer-wrapper{
  height: 100%;
}

#developer-section-wrapper{
  width: 100%;
  margin-bottom:15%;
}

#developer-section-wrapper>h3 {
  margin-bottom:.3rem;
  border-bottom: var(--font-clr) solid 1px;
}

#links-wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: .5rem;
}

#links-wrapper>p {
  font-size: 10pt;
}
