.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
  margin-top: 3rem;
  margin-left: 1rem;
  z-index: 2
}

#drop-down{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* background-color: #c49f2f; */
}

/* here is the navlink font */
li > *{
  color: var(--);
  font-size: 16pt;

  /* margin: 5rem; */
}

.hidden {
  display: none;
}

button {
  border-radius: 20pt;
  background-color: var(--button);
  padding: .25rem;
  font-size: 12pt;
  color: var(--bg-clr)
  /* margin-top: 1rem */
}
