#profile-button{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: red solid; */
    border-radius: 15pt;
    height: 2.5rem;
    width: 2.5rem;
    /* color: red; */
    background-color: #008f26;
}

#user-button{
    color: black;
    font-size: 30pt;
    /* height: 30px; */
    /* width: 30px */
}


#logged-out-button-wrapper{
    margin-top: 4.5%;
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    /* border:red solid; */
}

#logged-in-button-wrapper {
    margin-top: 4.5%;
    width: 75vw;
    display: flex;
    /* justify-content: flex-end; */
    /* border:red solid; */
}
