
#tasks-area-wrapper{
    padding-left: 1rem;
    display:flex;
    /* justify-content: flex-end; */
    width:100%;
    background-color: var(--bg-clr);
}

#select-filter >select{
    /* border: red solid 1px */
    background-color: var(--bg-clr);
}

#each-task{
    border-top: var(--font-clr) solid 1px;
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 0rem 0rem;
}

#task-title{
    font-size: 16pt;
}

#trash > button{
    border: none;
        background-color: transparent;
        margin-bottom: 0.2rem;
        color: var(--font-clr);
}

#task-input-area{
    width:100%;
    margin-right: 1rem;
}

.errors-info > ul >li{
    border: red solid 1px;
    color:red;
}

#title{
    font-size: 24pt;
    width:100%;
    background-color: var(--bg-clr);
}
#description {
    /* font-size: 24pt; */
    width: 100%;
    background-color: var(--bg-clr);
}
#due_date, #completed{
    font-size: 14pt;
    margin-left: .5rem;
    background-color: var(--bg-clr);
}
#completed-due{
    display: flex;
    justify-content: space-between;
}

#submit-button{
    width:10%;
}


.form-container >form{
    width: 100%;
    display: flex;
    flex-direction: column;

}
