* {
  /* background-color: #1a1a1a;
   color: #ced9d9; */
  text-decoration: none;
  color: black;
}

.notebook-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(20%);
}

/* {
  list-style: nones;
  border: solid 2px black;
  box-shadow: 2px 2px 2px black;
} */

.everything-wrapper {
  border: 2px solid green;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.notebook-div-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.new-notebook-button {
  width: 1rem;
}

.hidden-1 {
  display: none;
}
.hidden-2 {
  display: none;
}
.hidden-3 {
  display: none;
}
.hidden-4 {
  display: none;
}
.hidden-5 {
  display: none;
}
.hidden-6 {
  display: none;
}
.hidden-7 {
  display: none;
}
.hidden-8 {
  display: none;
}
.hidden-9 {
  display: none;
}
.hidden-10 {
  display: none;
}
