* {
  text-decoration: none;
  list-style: none;
}

.everything-wrapper-2 {
  /* border: 2px solid green; */
  display: grid;
  /* grid-template-columns: 25% 75%; */
  grid-template-columns: 100%;
  justify-content: flex-end;
  height: 120%;
  width: 100%;
  background-color: #1a1a1a;
  text-decoration: none;
  color: #a6a6a6;
}

.notebook-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(0%);
}
.notebook-wrapper a {
  color: #a6a6a6;
}

.notebook-div-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 2px;
  padding: 10px;
  border-bottom: solid 2px #a6a6a6;
}

.spot-list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  /* border: solid 1px #008f26; */
  position: relative;
  bottom: 10px;
  /* right: 0px; */
  /* list-style:circle */
}
.add-note-notebook {
  color: #008f26;
}
.spot-list button {
  background-color: #1a1a1a;
  color: #008f26;
  border: none;
  /* list-style: ; */
  /* border: solid 1px #008f26; */
  /* height: 1.5rem; */
}

.hidden {
  display: none;
}
.hidden1 {
  display: none;
  font-weight: 100;
  font-size: 10px;
}
.new-notebook-component {
  color: #008f26;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10%;
  border-bottom: solid 2px #a6a6a6;
  position: relative;
  left: 0%;
}
.new-notebook-component button {
  color: #008f26;
  background-color: #1a1a1a;
  border: none;
}
.add-note-feature {
  position: relative;
  left: 5px;
  font-size: 1rem;
}
.notebook-note-dropdown {
  left: 0%;
  right: 0%;
}
.notebook-note-dropdown-note-li {
  height: 20px;
  font-size: 15px;
  color: #008f26;
  font-weight: lighter;
}
.drop-down-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008f26;
}
.create-notebook-feature {
  color: #008f26;
  /* border: solid 1px #008f26; */
}
.update-notebook-feature {
  color: #008f26;
  /* border: solid 1px #008f26; */
}
.add-note-feature {
  color: #008f26;
}
.notebook-ul-note-links {
  /* background-color: #008f26; */
  position: relative;
  left: 0%;
  right: 0%;
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1440px) {
}
