.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin: 0%;
  padding: 0%;
  height: 30px;
}

.update-modal-div-wrapper {
  border: solid 1px var(--border);
  background-color: var(--bg-clr);
  height: 10rem;
  width: 30rem;
}

.update-modal-form {
  /* border: solid 1px blue; */
  display: grid;
  margin: 1%;
  padding: 1%;
}

.update-modal-label {
  /* border: solid 1px rgb(94, 94, 142); */
  color: var(--button);
}
.update-dis {
  /* border: solid 1px rgb(94, 94, 142); */
  color: var(--modal);
  height: 2rem;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-div-label-input {
  display: flex;
  justify-content: center;
  /* border: solid 1px red */
  height: 2rem;
}
.update-modal-form-input {
  /* border: solid 1px rgb(234, 255, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
  background-color: var(--bg-clr);
  border: solid 1px #a6a6a666;
  border-radius: 5px;
  color: var(--modal);
}
.update-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  column-gap: 10px;
  /* border: solid 1px rgb(0, 255, 30); */
}
.update-button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 5rem;
  font-weight: bold;
}

.update-modal-button-submit {
  background-color: #1a8a385f;
  color: var(--modal);

  border-radius: 5px;
  border: solid 1px #1a8a385f;
}
/* .create-modal-button-submit {
  } */
.update-modal-button-cancel {
  background-color:var(--bg-clr);
  border: solid 0.5px #a6a6a6;
  color: var(--modal);

  border-radius: 5px;
}
